body  {
  background-color: wheat;
}

#javascriptdefinition {
  display: none;
}

#operatordefinition {
  display: none;
}

#variabledefinition {
  display: none;
}

.card {
  cursor: pointer;
  color: #0088cc;

}

.card:hover {
  text-decoration: underline;
}